.section .section_title {
  width: 90%;
  margin: auto;
  margin-top: 90px;
  color: #2e2e2e;
  text-align: center;
}

.section .section_title > h3 {
  font-size: 30px;
}

/* -------------------------------------- */
.big_card_container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  margin-top: 20px;
  color: #282c3f;
}

.big_card_container img {
  width: 100%;
  /* height: 50%; */
  transition: transform 0.5s ease;
}

.big_card_container :hover img {
  transform: scale(1.3);
}

/* ------------------------------- */
@media (max-width: 620px) {
  .big_card_container {
    display: block;
  }

  .big_card_container > div {
    margin-bottom: 20px;
  }
}
