:root {
    --font_size: 17px;
    --font_color: #282c3f;
    --border-color: #e9e9ed;
    --hover-color: #f0f0f0;
}
.slick-prev,
.slick-next {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
    border: 1px solid var(--border-color);
    z-index: 2;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: white;
}

.slick-prev:before,
.slick-next:before {
    font-family: "FontAwesome";
    font-size: 20px;
    color: black;
    line-height: 1;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 900;
}

.slick-prev:before {
    content: "\f053";
}

[dir="rtl"] .slick-prev:before {
    content: "\f054";
}

[dir="rtl"] .slick-next {
    left: -10px;
    top: 70px;
    right: auto;
}

.slick-next:before {
    content: "\f054";
}

[dir="rtl"] .slick-next:before {
    content: "\f053";
}

.slider img {
    width: 100%;
    border: 1px solid red;
}

.slick-list {
    padding-left: 0px !important;
}