:root {
  --nav_menu_font: 1.8rem;
  --res_nav_menu_font: 1.5rem;
  --nav_color: #282c3f;
  --theme-color: #ff3e6c;

}
a{
  color: #282c3f;
}
.App {
  text-align: center;
}
button{
  cursor: pointer;
}

input[type=submit]{
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
